body {
  margin: 0;
  padding: 0;
  background-color: #031321;
}

.container-fluid {
  padding: 7%;
}

/* Navigation Bar */

.navbar {
  margin-bottom: 100px;
}

.navbar-brand {
  font-family: "Cinzel", serif;
  font-size: 3.5rem;
}

.nav-item {
  margin: 2%;
}

.nav-link {
  font-family: "Ubuntu", sans-serif;
}

.nav-link:hover {
  color: black !important;
  background-color: white;
  transition: 1s;
}
.long-link {
  width: 150px;
  margin: 0;
}

/* slideshow */

#slideshow {
  margin-top: 100px;
  background: white;
  margin-bottom: 100px;
}

.h1-slideshow {
  text-align: center;
  color: #031321;
  padding-top: 50px;
  padding-bottom: 100px;
  font-family: "Montserrat", sans-serif;
}

.slideshow-imgs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

.p-slideshow {
  text-align: center;
  color: #031321;
  font-size: 1.5rem;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.slideshow-btns {
  background-color: #031321;
  margin-bottom: 100px;
}

/* contact */

#tables {
  background: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}
#contact {
  background-color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.motherfucker {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
  grid-row-gap: 1rem;
  grid-column-gap: 1.2rem;
}

.contact-div {
  padding: 7% 15%;
  padding-bottom: 3%;
  font-size: 1.5rem;
}

.cunt2 {
  color: #111;
  padding: 3%;
}

.p-contact {
  padding: 5%;
  padding-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-family: "Ubuntu", serif;
  text-transform: uppercase;
}

/* News */

/* Tables */
